body {
  margin: 0;
  font-family: 'Comic Sans MS', 'Helvetica', sans-serif;
  background-color: #fffceb;
}

.container {
  height: 100vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 3rem;
  color: #ff99c8;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 2rem;
  color: #a0c4ff;
}
